.Rproj.user
.Rhistory
.RData
.Ruserdata
Abundance + ID Data.xlsx
Biomass.png
CVBiomass.png
CV_Count.png
Evenness.png
GISData.xlsx
PsuedoCode.Rmd
PsuedoCode.html
PsuedoCode.pdf
Richness.png
Richness_CV.png
Richness_Count.png
TotalCount.png
Total_Count.png
YearsSenseBurned.xlsx
myplot.png
Delete_Me_Temp_Space.R
Belowground Invertebrate Richness Density Plot.png
2021 Belowground Weight Data.xlsx
Delete_Me_Temp_Space_Weight.R
Aboveground Invertebrate ID.xlsx
Rplot.png
Rplot01.png
YearsSenseBurned2021.xlsx
YearsSenseBurned2022.xlsx
YearsSenseBurned2023.xlsx
Aboveground Invertebrate Biomass.xlsx
HerbivoryDataSheetPBG.xlsx
FamilyNames.csv
